In [ ]:
# imports

# collections
# each collection has name, embedding function

# generation models

In [1]:
import pandas as pd

test_folder = '../resources/TestFragen/'

df1 = pd.read_json(test_folder + 'CELEX_02013L0036-20220101_DE_TXT.json')

In [4]:
print(df1.iloc[1]['question'])
# print(df1.iloc[1]['answer'])

Frage:

In [4]:
df1.describe() # Model generiert doppelte Fragen lol

       question                                             answer
count        33                                                 33
unique       32                                                 33
top      Frage:  Diese Richtlinie regelt den Zugang zur Tätigke...
freq          2                                                  1